<h2 style="color:green">Probability</h2>

In [1]:
# Example : 1

# Prob of getting 3 when die is rolled
# Ans :p = 1/6

# n(s) = {1,2,3,4,5,6}
ns = 6

# n(A) = getting 3 = {3}
na = 1

# P(A)
pa = na/ns

print("Probability of getting 3 is : ", pa)

Probability of getting 3 is :  0.16666666666666666

In [3]:
# Example : 2

# prob of atleast getting one head when a coin is tossed thrice

# S = {HHH,HHT,HTH,THH,TTT,TTH,THT,HTT}
ns = 8

# atleast getting one head A = {HHH,HHT,HTH,THH,TTH,THT,HTT}
na = 7

# p(A)
pa = na/ns

print("Probability of getting atleast one head when a coin is tossed is : ",pa)

Probability of getting atleast one head when a coin is tossed is :  0.875

In [4]:
# Example : 3

# A glass jar contains 5 red , 3 blue and 2 green jelly beans , what is the prob that it is not blue?

# S = {r1,r2,r3,r4,r5,b1,b2,b3,g1,g2}
ns = 10

# A = it is not blue = {r1,r2,r3,r4,r5,g1,g2}
# n(A) = (1 - 3/10)
na = 7

# p(A)
pa = na/ns

print("Prob of the jelly bean is not blue is : ",pa)

Prob of the jelly bean is not blue is :  0.7

In [5]:
# Example : 4

# If the probability that person A will be alive in 20 years is 0.7
# and the prob of person B will be alive in 20 years is 0.5
# what is the prob that they both will be alive in 20 years ? 

# These are Independent events , so

P = 0.7 * 0.5

print("Prob that they both will be alive in 20 years is : ",P)

Prob that they both will be alive in 20 years is :  0.35

In [6]:
# formula of prob lets make it func so we dont need to type again n again

def event_probability(n,s):
    return n/s

In [7]:
# Example : 5

# A die is tossed twice, Find the probability of getting  a 4 or 5 on the first toss
# and a 1,2 or 3 in the second toss

# using my func

# probability of getting  a 4 or 5 on the first toss, 2 event total sample is 6
pa = event_probability(2,6)  

# probability of getting  a 1,2 or 3 on the second toss ,3 event total sample is 6
pb = event_probability(3,6)

# total prob of both will be 
P = pa * pb   

print("Probability of getting  a 4 or 5 on the first toss and a 1,2 or 3 in the second toss is : ", P)

probability of getting  a 4 or 5 on the first toss and a 1,2 or 3 in the second toss is :  0.16666666666666666

In [8]:
# Example : 6

# A bag contains 5 white marbles , 3 black marbles and 2 green marbles,
# In each draw, a marble is drawn from the bag and not repaced.
# In three draws , find the probability of obtaining white , black and green in that order.

# s = { 5 white , 3 black , 2 green}
ns = 10

# event 1 {getting white}
na = 5
pa = event_probability(na, 10)

# event 2 {getting black} without putting previous ball
nb = 3
pb = event_probability(na, 9)

# event 3 {getting green}
nc = 2
pc = event_probability(na, 8 )

P = pa * pb * pc

print("the probability of obtaining white , black and green in order is : ",P)

the probability of obtaining white , black and green in order is :  0.1736111111111111

In [9]:
# Example : 7

# Sample space
cards = 52

# calculate the probability of drawing a heart or a club

hearts = 13
clubs = 13

# 13/52 + 13/52
heart_or_club = event_probability(hearts, cards) + event_probability(clubs, cards)

print("Probability of drawing a heart or a club is : ",heart_or_club)

Probability of drawing a heart or a club is :  0.5

In [17]:
# Example : 8

# calculate the probability of drawing an ace , king or a queen

# The probability of first drawing an Ace is  4/52. 
ace = 4

# The probability of  drawing  a King is  4/52
king = 4

# The probability of drawing a Queen is  4/52
queen = 4

ace_or_king_or_queen = event_probability(ace, cards) + event_probability(king, cards) + event_probability(queen , cards)

print("the probability of drawing an ace , king or a queen is : ", ace_or_king_or_queen)

print(round(ace_or_king_or_queen, 2))

the probability of drawing an ace , king or a queen is :  0.23076923076923078
0.23

In [16]:
# Example : 9

# calculate the probability of drawing a heart or an ace

# The probability of first drawing an Heart is  13/52. 
heart = 13

# The probability of first drawing an Ace is  4/52. 
ace = 4

# but there is card of heart Ace
ace_of_hearts = 1

heart_or_ace = event_probability(heart, cards) + event_probability(ace ,cards) - event_probability(ace_of_hearts, cards)

print("the probability of drawing a heart or an ace is : ",round(heart_or_ace, 1))

# round(heart_or_ace, 1)
# 1 = 1 element after decimal

the probability of drawing a heart or an ace is :  0.3

In [18]:
# Example : 10

# calculate the probability of drawing a red cards or face cards

# 13 heart + 13 dimond
red = 26

# king+queen+j of each set of 4 which is 3 * 4 = 12
face_card = 12

# but there is red face cards (3 heart + 3 dimond)
red_face = 6

red_or_face = event_probability(red, cards) + event_probability(face_card, cards) - event_probability(red_face, cards)

print("the probability of drawing a red cards or face cards is : ", round(red_or_face, 2))

# round(red_or_face, 2)
# 2 elements after decimal

the probability of drawing a red cards or face cards is :  0.62

In [22]:
# Example : 11

# Prob of not gettig 5 when die is rolled.

# S = {1,2,3,4,5,6}
ns = 6

# getting 5
na = 1

pa = event_probability(na,ns)


print(" Prob of not gettig 5 is : ", round(1- event_probability(na,ns), 2))

# both the ways are same
# Prob of not gettig 5 is 1 - prob of getting 5
print(" Prob of not gettig 5 is : ", round(1- pa, 2))

 Prob of not gettig 5 is :  0.83
 Prob of not gettig 5 is :  0.83

<h2 style="color:orange">Conditional Probability</h2>

In [26]:
# Example : 12 (Conditional Probability)

# Suppose you draw 2 cards from deck.
# You win if you get ace given that you draw a jack in first draw

cards =52


j = 4
ace = 4

# prob of jack in first draw
pj = event_probability(j, cards)

# prob of ace in second draw and not putting previous card
pa = event_probability(ace, 51)

# Formula of conditional probability

pa_given_pj = (pa * pj)/pj

print(round(pa_given_pj, 2))
print(pa_given_pj)

0.08
0.0784313725490196

<h4 style="color:red">Reading CSV data and solving problems on Conditional Probability.</h4>

In [2]:
import pandas as pd
import numpy as np

df = pd.read_csv("student-mat.csv")
df.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,6,5,6,6
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,4,5,5,6
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,10,7,8,10
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,2,15,14,15
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,4,6,10,10

In [3]:
len(df)

395

**Calculate the probabiltity A student gets A(80% +) in math, given they miss 10 or more classes.**

We are concerned with the columns, absences (number of absences) and G3(final grade from 0 -20)

Adding the boolean column called grade_A

In [4]:
df['grade_A'] = np.where(df['G3'] * 5 >= 80 , 1, 0)

**Make another boolean column "high_absence" with a value of 1 if a student missed 10 or more classes.**

In [5]:
df['high_absences'] = np.where(df['absences'] >= 10 , 1 ,0)

**Adding one more column to make building a pivot table easier**

In [6]:
df['count'] = 1

**And drop all columns we dont care about**

In [9]:
df = df[['grade_A', 'high_absences', 'count']]
df.head()

   grade_A  high_absences  count
0        0              0      1
1        0              0      1
2        0              1      1
3        0              0      1
4        0              0      1

**Now we create a pivot table from this**

In [10]:
final = pd.pivot_table(
    df,
    values = 'count',  #high_absences 0 = attdended lectures and 1 = high absences
    index = ['grade_A'],  # getes Grade A = 1 , not getting A = 0
    columns = ['high_absences'],
    aggfunc = np.size,
    fill_value = 0)

In [11]:
print(final)

high_absences    0   1
grade_A
0              277  78
1               35   5

**A = getting high grades<br>
B = hight absences**

In [24]:
# pa = (35 + 5)/(35 + 5 + 277 + 78)\

# a = final.iloc[0,1]
# a

pa = (final.iloc[1,0] + final.iloc[1,1]) / (final.iloc[0,0] + final.iloc[0,1] + final.iloc[1,0] + final.iloc[1,1])
pa

0.10126582278481013

In [25]:
# pb = (78 + 5)/(35 + 5 + 277 + 78)
# pb

pb = (final.iloc[0,1] + final.iloc[1,1]) / (final.iloc[0,0] + final.iloc[0,1] + final.iloc[1,0] + final.iloc[1,1])
pb

0.21012658227848102

**pa_or_pb = Probability of getting Grade A with High absence**

In [26]:
# pa_or_pb = 5 / (35 + 5 + 277 + 78)
# pa_or_pb

pa_or_pb = ( final.iloc[1,1]) / (final.iloc[0,0] + final.iloc[0,1] + final.iloc[1,0] + final.iloc[1,1])
pa_or_pb

0.012658227848101266

**Formula of Probability of A given B = pa_or_pb/pb**

In [30]:
A_given_B = pa_or_pb/pb
A_given_B

0.060240963855421686

In [32]:
print("The probabiltity of student gets A(80% +) in math, given they miss 10 or more classes is : ",round(A_given_B, 2))

The probabiltity of student gets A(80% +) in math, given they miss 10 or more classes is :  0.06

In [33]:
print("The Percent of student gets A(80% +) in math, given they miss 10 or more classes is : ",round(A_given_B, 2) * 100)

The Percent of student gets A(80% +) in math, given they miss 10 or more classes is :  6.0

**While the learning from our specific-example is clear - go to class if you want good grades.**